<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.attendance.AttendanceDAO">

	<sql id="forPager">
		<choose>
			<when test="kind=='apTitle'">
				EMPNAME
			</when>
			<when test="kind=='apContents'">
				POSITIONNAME
			</when>
			<when test="kind=='apContents'">
				DEPTNAME
			</when>
			<otherwise>
				ATTSTATE
			</otherwise>
		</choose>
	</sql>


</mapper>