<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.vet.main.treatmentchart.TreatmentChartDAO">
	
		<select id="getTotal" parameterType="Pager" resultType="Long">
	  		SELECT COUNT(CHARTNO) FROM TREATMENTCHART 
	  			WHERE CUSTOMERNO = #{customerNo}
	  	</select>
		
		<!-- 진료차트목록 -->
		<select id="getList" parameterType="Pager" resultType="TreatmentChartVO">
			SELECT * FROM TREATMENTCHART
				WHERE CUSTOMERNO = #{customerNo}
				ORDER BY CHARTNO DESC
				LIMIT #{startRow}, #{lastRow}
		</select>
		
		<!-- 약품조회 -->
		<select id="getMedicineList" resultType="MedicineVO">
			SELECT * FROM MEDICINE;
		</select>
		
		<!-- 진료차트추가 -->
		<insert id="setAdd" parameterType="TreatmentChartVO"  useGeneratedKeys="true" keyProperty="chartNo">
			INSERT INTO TREATMENTCHART (CHARTNO, CONTENTS, DISEASE, DATE, CUSTOMERNO, USERNAME, MEDICINENO, COUNT)
				VALUES (NULL, #{contents}, #{disease}, #{date}, #{customerNo}, #{username}, #{medicineNo}, #{count})
				<!-- INSERT INTO TREATMENTCHART SET 
					CHARTNO = NULL,
					CONTENTS = #{contents},
					DISEASE = #{disease},
					DATE = #{date},
					CUSTOMERNO = #{customerNo},
					USERNAME = #{username},
					MEDICINENO = #{medicineNo}
					ON DUPLICATE KEY UPDATE
					STOCK = stock - #{count} -->
		</insert>
		
		<!-- 사진첨부 -->
		<insert id="setFileAdd" parameterType="TreatmentChartFileVO">
			INSERT INTO TREATMENTCHARTFILE (FILENO, FILENAME, ORIGINALFILENAME, CHARTNO)
				VALUES (#{fileNo}, #{fileName}, #{originalFileName}, #{chartNo})
		</insert>
		
		<!-- 진료차트상세 -->
		<select id="getDetail" parameterType="TreatmentChartVO" resultMap="getDetailResult">		
				SELECT TC.*, TCF.*, M.name, E.empName
				FROM TREATMENTCHART TC
					INNER JOIN MEDICINE M
					ON TC.MEDICINENO = M.MEDICINENO
					INNER JOIN EMP E
					ON TC.USERNAME = E.USERNAME
					LEFT OUTER JOIN TREATMENTCHARTFILE TCF
						ON TC.CHARTNO = TCF.CHARTNO
				WHERE TC.CHARTNO = #{chartNo}
		</select>
		
		<resultMap type="TreatmentChartVO" id="getDetailResult">
			<id column="CHARTNO" property="chartNo"/>
			<result column="CONTENTS" property="contents"/>
			<result column="DISEASE" property="disease"/>
			<result column="DATE" property="date"/>
			<result column="COUSTOMERNO" property="customerNo"/>
			<result column="USERNAME" property="username"/>
			<result column="MEDICINENO" property="medicineNo"/>
			<result column="NAME" property="name"/>
			<result column="EMPNAME" property="empName"/>
			<collection property="fileVOs" javaType="java.util.List" ofType="TreatmentChartFileVO">
				<id column="FILENO" property="fileNo"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORIGINALFILENAME" property="originalFileName"/>
			</collection>
		</resultMap>
		
		<!-- 진료차트수정 -->
		<update id="setUpdate" parameterType="TreatmentChartVO">
			UPDATE TREATMENTCHART SET
				DISEASE = #{disease},
				CONTENTS = #{contents}
			WHERE CHARTNO = #{chartNo}
		</update>
		
		<!-- 사진삭제 -->
<!-- 		<delete id="setFileDelete" parameterType="TreatmentChartFileVO">
			DELETE FROM TREATMENTCHARTFILE WHERE FILENO = #{fileNo}
		</delete>
		
		<select id="getFileDetail" parameterType="TreatmentChartFileVO" resultType="TreatmentChartFileVO">
			SELECT FILENO, FILENAME FROM TREATMENTCHARTFILE WHERE FILENO = #{fileNo}
		</select> -->
		
		<select id="getFileDelete" parameterType="TreatmentChartVO" resultType="TreatmentChartFileVO">
			SELECT * FROM TREATMENTCHARTFILE WHERE CHARTNO = #{chartNo}
		</select>
		
		<delete id="updateFileDelete" parameterType="TreatmentChartFileVO">
			DELETE FROM TREATMENTCHARTFILE WHERE FILENO = #{fileNo}
		</delete>
		
	</mapper>